<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Blog Posts</h1>
        <div class="btn">
          <button id="w_btn">Write</button>
        </div>

        {% for post in posts %}
            <div class="post">
                <h3>제목 : {{ post.title }}</h3>
                <h4>작성 날짜 : {{ post.date }}</h4>
                <p>{{ post.body }}</p>
                <div class="btn2">
                    <button class="e_btn" data-id="{{ post.id }}">Edit</button>
                    <button class="d_btn" data-id="{{ post.id }}">Delete</button>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ posts.previous_page_number }}">이전</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">다음</a>
                    <a href="?page={{ posts.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- 로그아웃 버튼 -->
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="logout-btn">로그아웃</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#w_btn').click(function(){
                location.href='{% url "new_post" %}';
            });

            $('.e_btn').click(function(){
                var postId = $(this).data('id');  // 버튼에 설정된 데이터 아이디 가져오기
                location.href = '{% url "edit_post" 0 %}'.replace('0', postId);  // edit_post URL로 리디렉션
            });

            $('.d_btn').click(function(){
                var postId = $(this).data('id');  // 버튼에 설정된 데이터 아이디 가져오기
                if (confirm('삭제하시겠습니까?')) {  // 알림창 띄우기
                    $.ajax({
                        url: '{% url "delete" 0 %}'.replace('0', postId),  // 삭제 URL로 요청
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF 토큰 추가
                        },
                        success: function() {
                            location.reload();  // 성공 시 페이지 새로고침
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
