<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <p>{{ form.username.label_tag }} {{ form.username }}</p>
    <p>{{ form.nickname.label_tag }} {{ form.nickname }}</p>
    <p>{{ form.email.label_tag }} {{ form.email }}</p>
    <p>{{ form.password.label_tag }} {{ form.password }}</p>
    <p>{{ form.password_confirm.label_tag }} {{ form.password_confirm }}</p>
    <p>{{ form.image.label_tag }} {{ form.image }}</p>
    <p>{{ form.phone_number.label_tag }} {{ form.phone_number }}</p>
    <p>{{ form.birthday.label_tag }} {{ form.birthday }}</p>
    <p>{{ form.address.label_tag }} {{ form.address }}</p>
    
    <button type="submit">Sign Up</button>
</form>
